@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.tuto {
  padding: 0 1.25rem;
}
.tuto ol {
  padding-left: 1.25rem;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.button-explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  border: 0;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.button-explorer:hover {
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
}

.nouveau {
  position: relative;
}

.nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  display: grid;
  place-items: center;
  border-radius: 2px;
  right: 1rem;
  top: 1rem;
}

header {
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo-container .logo {
  padding-top: 20px;
  width: 197px;
  height: 36px;
}

/****** Footer ******/
footer {
  display: flex;
  flex-direction: column;
  padding: 22px 0 33px 25px;
  background: #353535;
  color: #FFF;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 16px;
}
footer .footer__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
footer .lighter {
  font-weight: lighter;
}
footer .fa-solid {
  position: absolute;
}
footer .icon__text {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .icon__text p {
  padding-left: 24px;
}
footer .footer__text a {
  color: white;
  font-weight: 300;
}

@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 57px 0 30px 0;
  }
  footer h1 {
    order: 1;
    margin: 0 100px 0 71px;
  }
  footer .footer__text {
    flex-direction: row;
    gap: 7px;
  }
  .icon__text__gap {
    margin-right: 30px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  height: 100vh;
  inset: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.9;
  animation: disappear 1s ease forwards;
  animation-delay: 5s;
}
.loader i {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}
.recherche {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1490196078);
}
.recherche p {
  margin: 0;
  font-size: 16px;
  color: #353535;
}

.nos-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.nos-restaurants h2 {
  margin-top: 39px;
  margin-bottom: 0;
  line-height: 28px;
  width: 72%;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 18px;
}
.nos-restaurants p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
.nos-restaurants a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}
.nos-restaurants .button-explorer {
  width: 218px;
  margin-top: 27px;
  margin-bottom: 57px;
}

/****** Fonctionnement ******/
.tuto {
  counter-reset: steps;
}
.tuto h2 {
  margin-top: 48px;
}
.tuto ol {
  display: flex;
  flex-direction: column;
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #F6F6F6;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1.25rem;
  left: -1rem;
}
.tuto i.fas {
  color: #7E7E7E;
  margin-right: 1rem;
  font-size: 14px;
}
.tuto i.fa-store {
  color: #9356DC;
}

/*** Section Restaurants ***/
.menu {
  padding: 0 1.25rem;
  background-color: #f6f6f6;
  padding-bottom: 66px;
}
.menu .menu_cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .menu .menu h2 {
    padding-left: 180px;
  }
  .menu .menu_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .menu .menu .card {
    width: 100%;
  }
}
.menu a {
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
}
.menu .card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  height: 251px;
  border-radius: 15px;
  flex-grow: 1;
  min-width: 20rem;
  overflow: hidden;
}
.menu .card__image {
  height: 66%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .card__description {
  color: black;
  padding-left: 13px;
  position: relative;
}
.menu .card__description h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.menu .card__description p {
  margin: 0px;
  font-weight: lighter;
}
.menu .card i {
  position: absolute;
  font-size: 30px;
  border: 0;
  right: 1rem;
  top: 80%;
  /* transform: translateY(-50%);*/
}
.menu .card .fa-regular {
  opacity: 1;
  z-index: 0;
}
.menu .card .fa-regular:hover {
  opacity: 0;
}
.menu .card .fa-regular:active {
  opacity: 1;
}
.menu .card .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  z-index: 1;
  transform: none;
}
.menu .card .fa-solid:hover {
  opacity: 1;
}
.menu .card .fa-solid:active {
  opacity: 1;
}
.menu h2 {
  padding-top: 54px;
  margin-bottom: 19px;
}

@media screen and (min-width: 1024px) {
  .menu h2 {
    padding-left: 150px;
    padding-top: 30px;
    margin-bottom: 28px;
  }
  .tuto ol {
    padding-left: 140px;
    flex-direction: row;
  }
  .tuto li {
    margin-left: 30px;
  }
  .tuto .tuto_title {
    margin-bottom: 25px;
    padding-left: 150px;
  }
  .nos-restaurants h2 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
  }
}
header .fa-arrow-left::before {
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.image-restaurant img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto__title {
  margin-top: -30px;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.resto__title .heart i {
  position: absolute;
  font-size: 30px;
  border: 0;
  right: 20px;
  bottom: 36px;
  /* transform: translateY(-50%);*/
}
.resto__title .heart .fa-regular {
  opacity: 1;
  z-index: 0;
}
.resto__title .heart .fa-regular:hover {
  opacity: 0;
}
.resto__title .heart .fa-regular:active {
  opacity: 1;
}
.resto__title .heart .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  z-index: 1;
  transform: none;
}
.resto__title .heart .fa-solid:hover {
  opacity: 1;
}
.resto__title .heart .fa-solid:active {
  opacity: 1;
}

.resto__title h2 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  line-height: 40px;
  position: relative; /* Ajout de la position relative */
  z-index: 1; /* Met l'élément au premier plan */
}

.menus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.menus h3 {
  font-weight: 300;
  font-size: 16px;
  margin-left: 1rem;
  text-transform: uppercase;
}
.menus .category-title {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  margin-left: 1rem;
  text-transform: uppercase;
  position: relative;
}
.menus .category-title::after {
  content: "";
  display: block;
  border-bottom: 5px solid #99E2D0;
  width: 40px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.menus p {
  padding-left: 1rem;
  font-size: 15px;
  font-weight: 300;
}
.menus h4 {
  padding-left: 1rem;
}
.menus .menus__category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background: #F6F6F6;
}
.menus .menus__category .menu-item {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  padding-right: 0;
  background-color: white;
}
.menus .menus__category .menu-item .menu-item__prix {
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus .menus__category .menu-item .menu-item__decription {
  padding: 1rem;
  overflow: hidden;
}
.menus .menus__category .menu-item .menu-item__decription h4, .menus .menus__category .menu-item .menu-item__decription p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menus__category .menu-item .menu-item__check {
  background-color: #99E2D0;
  padding: 1.5rem;
  margin-right: -6.2rem;
  width: 2rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: #fff;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menus .menus__category .menu-item .menu-item__decription {
  padding: 1rem;
}
.menus .commande {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus .commande .button-explorer {
  width: 218px;
  margin-top: 27px;
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resto__main {
  background-color: #F6F6F6;
  padding-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .resto__title .heart i {
    right: 185px;
  }
  header .fa-arrow-left::before {
    font-size: 20px;
  }
  .restaurant-menu {
    padding-left: 180px;
    padding-right: 180px;
  }
}/*# sourceMappingURL=main-style.css.map */