.menu{
    padding: 0 1.25rem;
    background-color: #f6f6f6;
    padding-bottom: 66px;

    .menu_cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 18px;
    }
    
    a{
        background-color: white;
        border-radius: 15px;
        text-decoration: none;
        
    }

    .card{
        
        height: 251px;
        box-shadow: none;
        flex-grow: 1;
        min-width: 20rem;

        & .card__image{
            height: 66%;
            width: 100%;
            border-radius: 15px 15px 0 0;
            object-fit:cover;
            
        }
       
        & .card__description{
            color: black;
            padding-left: 13px;
            position: relative;

            & h3{
               font-size: 18px;
               margin-bottom: 5px;
            }

            & p{
                margin: 0px;
                font-weight: lighter;
            }

            & i{
                position: absolute;
                font-size: 25px;
                border: 0;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            
        }
    }
    h2{
        padding-top: 54px;
        margin-bottom: 19px;
    }
}