/* loader */
@keyframes disappear{
    to{
        opacity:0;
        z-index: -1;
    }
}
/* apparition menu */
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 