/* loader */
@keyframes disappear{
    to{
        opacity:0;
        z-index: -1;
    }
}
/* apparition menu */
@keyframes appear{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}