.button-explorer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    border: 0;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);

     
    &:hover {
        background: linear-gradient(to bottom, lighten(map-get($colors,pink-color), 5%), lighten(map-get($colors,purple-color), 5%));
 
       }
}



.nouveau{
    position: relative;
}
.nouveau::before{
    content: "Nouveau";
    position: absolute;
    height: 29px;
    width: 80px;
    background-color:map-get($colors,light-green);
    color: map-get($colors,dark-green );
    font-size: 14px;
    display: grid;
    place-items: center;
    border-radius: 2px;
    right: 1rem;
    top: 1rem;

}


